.header_div {
  height: 50%;
  width: 100%;
  overflow: hidden; /* ensures img can't overflow */
  position: relative;
}

.quake-img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  opacity: calc();
}
.title {
  position: absolute;
  right: 10rem;
  top: 4rem;
  color: white;
}

@media (max-width: 1020px) {
  .header_div {
    height: 10%;
    width: 100%;
    background-color: #8db5f5
  }
  .quake-img {
    display: none;
  }
  .title {
    position: absolute;
    font-size: larger;
    left: 1rem;
    top: 2rem;
    font-size: 1.5rem;
    color: black;
  }
}
